In [25]:
import pandas as pd
import numpy as np

In [31]:
df=pd.read_csv("Project_Data.csv")

In [32]:
df = df[:-2]
df.replace("NAN", np.nan, inplace=True)
for col in df.columns[1:]:
    df[col] = pd.to_numeric(df[col], errors='coerce')
for col in df.columns[1:]:
    mode_value = df[col].mode()[0]
    df[col].fillna(mode_value, inplace=True)
print(df.head())

  Unnamed: 0   Q1    Q2   Q3   Q4   Q5  Total
0    Abbas H  1.0  0.00  0.0  0.5  0.0   1.50
1      Ali A -2.0  2.00  2.5  1.0  3.0   6.50
2     Ali Gh  1.0  0.00  0.5  0.0  2.0   3.50
3      Ali K  2.0  2.00  1.0  0.0  4.0   1.00
4      Ali P  0.0  1.75  1.0  1.0  0.5   4.25

In [33]:
df

      Unnamed: 0   Q1    Q2    Q3    Q4   Q5  Total
0        Abbas H  1.0  0.00  0.00  0.50  0.0   1.50
1          Ali A -2.0  2.00  2.50  1.00  3.0   6.50
2         Ali Gh  1.0  0.00  0.50  0.00  2.0   3.50
3          Ali K  2.0  2.00  1.00  0.00  4.0   1.00
4          Ali P  0.0  1.75  1.00  1.00  0.5   4.25
5      Amirali B  0.5  0.00  0.25  2.50  8.0  11.25
6     Amirali Gh  0.0  0.00  1.00  0.00  0.0   1.00
7      Amirali R  1.0  1.50  1.00  4.00  2.0   9.50
8         Amir M  1.0  3.00  1.00  1.50  3.0   9.50
9       Fateme P  2.0  1.75  1.00  0.00  0.0   4.75
10      Farhan A  0.0  1.00  0.00  0.00  0.0   1.00
11    Fereshte J  2.0  2.00  1.00  0.50  3.0   8.50
12      Heliya G -5.0  2.00  1.00  0.00  4.0   1.00
13       Hesam M  0.0  2.00  1.00  1.00  0.0   4.00
14       Jafar H  2.0  1.50  0.00  0.00  0.0   3.50
15       Javad R  2.0  2.00  1.00  3.75  3.5  12.25
16       Kazem B  2.0  2.00  0.50  1.00  0.5   6.00
17       Leyla F  1.0  2.00  1.00  0.00  1.0   5.00
18       Mahla R  2.0  2.00  1.00  4.00  2.5  11.50
19      Mammad A  2.0  1.50  1.00  0.00  3.5   8.00
20     Mammad Gh  0.5  0.00  0.00  3.00  0.0   3.50
21  Mammadreza B  2.0  2.00  1.00  1.50  0.0   1.00
22       Milad S -1.0 -2.00  2.00  3.00  0.0   2.00
23        Mona A  1.0  2.00  2.00  0.00  1.0   6.00
24     Nazanin R  0.5  0.00  1.00  0.00  0.0   1.50
25       Oveys S  2.0  2.00  2.00  4.00  5.0  15.00
26       Negin R  0.0  0.00  1.00  0.00  3.0   4.00
27      Parisa A  0.0  2.00  1.00  1.00  0.0   4.00
28      Pariya J  1.0  2.00  2.00  4.00  4.0  13.00
29      Pedram k  0.0  0.00  1.00  0.00  1.0   1.00
30        Reza B  1.5  2.00  1.00  1.50  2.5  17.00
31        Reza R  0.0  2.00  1.00  1.50  4.0   8.50
32        Roya S  2.0  1.50  1.00  1.00  3.0   8.50
33        Reza T  0.5  2.00  2.50  4.00  1.5  10.50
34        Saba S  2.0  1.50  1.25  1.00  2.0   7.75
35       Sahar E  1.5  0.75  2.00  1.00  0.5   5.75
36       Sahar Z  2.0  2.00  1.00  2.50  5.5  13.00
37        Sama K  2.0  1.50  1.00  4.00  2.5  11.00
38        Sina R  0.0  1.00  0.50  0.00  0.0   1.50
39        Sina T  2.0  2.00  1.00  2.00  2.0   9.00
40      Soheyl T  0.5  2.00  1.50  4.00  3.0  11.00
41       Taher S  0.0  0.00  1.00  0.00  1.5   2.50
42        Tara B  2.0  1.50  0.50  4.00  0.0   1.00
43    Yasamin Gh  2.0  1.50  1.00  4.00  3.5  12.00
44       Zahra B  2.0  1.50  1.00  2.00  4.5  11.00
45       Zahra T  0.5  2.00  1.50  4.00  0.0   8.00
46       Zahra Z  2.0  2.00  2.00  1.00  2.0   9.00
47      Zeynab I  0.0  1.25  0.00  4.00  0.5   5.75
48      Zeynab V  2.0 -1.00  0.50  4.00  1.0   6.50

In [34]:
df.rename(columns={'Unnamed: 0': 'Name'}, inplace=True)
df

            Name   Q1    Q2    Q3    Q4   Q5  Total
0        Abbas H  1.0  0.00  0.00  0.50  0.0   1.50
1          Ali A -2.0  2.00  2.50  1.00  3.0   6.50
2         Ali Gh  1.0  0.00  0.50  0.00  2.0   3.50
3          Ali K  2.0  2.00  1.00  0.00  4.0   1.00
4          Ali P  0.0  1.75  1.00  1.00  0.5   4.25
5      Amirali B  0.5  0.00  0.25  2.50  8.0  11.25
6     Amirali Gh  0.0  0.00  1.00  0.00  0.0   1.00
7      Amirali R  1.0  1.50  1.00  4.00  2.0   9.50
8         Amir M  1.0  3.00  1.00  1.50  3.0   9.50
9       Fateme P  2.0  1.75  1.00  0.00  0.0   4.75
10      Farhan A  0.0  1.00  0.00  0.00  0.0   1.00
11    Fereshte J  2.0  2.00  1.00  0.50  3.0   8.50
12      Heliya G -5.0  2.00  1.00  0.00  4.0   1.00
13       Hesam M  0.0  2.00  1.00  1.00  0.0   4.00
14       Jafar H  2.0  1.50  0.00  0.00  0.0   3.50
15       Javad R  2.0  2.00  1.00  3.75  3.5  12.25
16       Kazem B  2.0  2.00  0.50  1.00  0.5   6.00
17       Leyla F  1.0  2.00  1.00  0.00  1.0   5.00
18       Mahla R  2.0  2.00  1.00  4.00  2.5  11.50
19      Mammad A  2.0  1.50  1.00  0.00  3.5   8.00
20     Mammad Gh  0.5  0.00  0.00  3.00  0.0   3.50
21  Mammadreza B  2.0  2.00  1.00  1.50  0.0   1.00
22       Milad S -1.0 -2.00  2.00  3.00  0.0   2.00
23        Mona A  1.0  2.00  2.00  0.00  1.0   6.00
24     Nazanin R  0.5  0.00  1.00  0.00  0.0   1.50
25       Oveys S  2.0  2.00  2.00  4.00  5.0  15.00
26       Negin R  0.0  0.00  1.00  0.00  3.0   4.00
27      Parisa A  0.0  2.00  1.00  1.00  0.0   4.00
28      Pariya J  1.0  2.00  2.00  4.00  4.0  13.00
29      Pedram k  0.0  0.00  1.00  0.00  1.0   1.00
30        Reza B  1.5  2.00  1.00  1.50  2.5  17.00
31        Reza R  0.0  2.00  1.00  1.50  4.0   8.50
32        Roya S  2.0  1.50  1.00  1.00  3.0   8.50
33        Reza T  0.5  2.00  2.50  4.00  1.5  10.50
34        Saba S  2.0  1.50  1.25  1.00  2.0   7.75
35       Sahar E  1.5  0.75  2.00  1.00  0.5   5.75
36       Sahar Z  2.0  2.00  1.00  2.50  5.5  13.00
37        Sama K  2.0  1.50  1.00  4.00  2.5  11.00
38        Sina R  0.0  1.00  0.50  0.00  0.0   1.50
39        Sina T  2.0  2.00  1.00  2.00  2.0   9.00
40      Soheyl T  0.5  2.00  1.50  4.00  3.0  11.00
41       Taher S  0.0  0.00  1.00  0.00  1.5   2.50
42        Tara B  2.0  1.50  0.50  4.00  0.0   1.00
43    Yasamin Gh  2.0  1.50  1.00  4.00  3.5  12.00
44       Zahra B  2.0  1.50  1.00  2.00  4.5  11.00
45       Zahra T  0.5  2.00  1.50  4.00  0.0   8.00
46       Zahra Z  2.0  2.00  2.00  1.00  2.0   9.00
47      Zeynab I  0.0  1.25  0.00  4.00  0.5   5.75
48      Zeynab V  2.0 -1.00  0.50  4.00  1.0   6.50

In [35]:
numeric_columns = df.columns[1:]
means = df[numeric_columns].mean()
std_devs = df[numeric_columns].std()
z_scores = (df[numeric_columns] - means) / std_devs
outliers = (z_scores.abs() > 3)
print(f"Outliers:\n{outliers}")

Outliers:
       Q1     Q2     Q3     Q4     Q5  Total
0   False  False  False  False  False  False
1   False  False  False  False  False  False
2   False  False  False  False  False  False
3   False  False  False  False  False  False
4   False  False  False  False  False  False
5   False  False  False  False   True  False
6   False  False  False  False  False  False
7   False  False  False  False  False  False
8   False  False  False  False  False  False
9   False  False  False  False  False  False
10  False  False  False  False  False  False
11  False  False  False  False  False  False
12   True  False  False  False  False  False
13  False  False  False  False  False  False
14  False  False  False  False  False  False
15  False  False  False  False  False  False
16  False  False  False  False  False  False
17  False  False  False  False  False  False
18  False  False  False  False  False  False
19  False  False  False  False  False  False
20  False  False  False  False  False  False
21  False  False  False  False  False  False
22  False   True  False  False  False  False
23  False  False  False  False  False  False
24  False  False  False  False  False  False
25  False  False  False  False  False  False
26  False  False  False  False  False  False
27  False  False  False  False  False  False
28  False  False  False  False  False  False
29  False  False  False  False  False  False
30  False  False  False  False  False  False
31  False  False  False  False  False  False
32  False  False  False  False  False  False
33  False  False  False  False  False  False
34  False  False  False  False  False  False
35  False  False  False  False  False  False
36  False  False  False  False  False  False
37  False  False  False  False  False  False
38  False  False  False  False  False  False
39  False  False  False  False  False  False
40  False  False  False  False  False  False
41  False  False  False  False  False  False
42  False  False  False  False  False  False
43  False  False  False  False  False  False
44  False  False  False  False  False  False
45  False  False  False  False  False  False
46  False  False  False  False  False  False
47  False  False  False  False  False  False
48  False  False  False  False  False  False

In [36]:
means = df.iloc[:, 1:].mean()
std_devs = df.iloc[:, 1:].std()
z_scores = (df.iloc[:, 1:] - means) / std_devs
outliers = (z_scores.abs() > 3)
print("Outliers identified by Z-score > 3:")
for col in outliers.columns:
    if outliers[col].any():
        print(f"\n{col} outliers:")
        print(df[outliers[col]][['Name', col]])
for col in df.columns[1:]:
    df.loc[outliers[col], col] = means[col]
print("\nDataFrame after handling outliers:")
df

Outliers identified by Z-score > 3:

Q1 outliers:
        Name   Q1
12  Heliya G -5.0

Q2 outliers:
       Name   Q2
22  Milad S -2.0

Q5 outliers:
        Name   Q5
5  Amirali B  8.0

DataFrame after handling outliers:

            Name        Q1        Q2    Q3    Q4        Q5  Total
0        Abbas H  1.000000  0.000000  0.00  0.50  0.000000   1.50
1          Ali A -2.000000  2.000000  2.50  1.00  3.000000   6.50
2         Ali Gh  1.000000  0.000000  0.50  0.00  2.000000   3.50
3          Ali K  2.000000  2.000000  1.00  0.00  4.000000   1.00
4          Ali P  0.000000  1.750000  1.00  1.00  0.500000   4.25
5      Amirali B  0.500000  0.000000  0.25  2.50  1.918367  11.25
6     Amirali Gh  0.000000  0.000000  1.00  0.00  0.000000   1.00
7      Amirali R  1.000000  1.500000  1.00  4.00  2.000000   9.50
8         Amir M  1.000000  3.000000  1.00  1.50  3.000000   9.50
9       Fateme P  2.000000  1.750000  1.00  0.00  0.000000   4.75
10      Farhan A  0.000000  1.000000  0.00  0.00  0.000000   1.00
11    Fereshte J  2.000000  2.000000  1.00  0.50  3.000000   8.50
12      Heliya G  0.918367  2.000000  1.00  0.00  4.000000   1.00
13       Hesam M  0.000000  2.000000  1.00  1.00  0.000000   4.00
14       Jafar H  2.000000  1.500000  0.00  0.00  0.000000   3.50
15       Javad R  2.000000  2.000000  1.00  3.75  3.500000  12.25
16       Kazem B  2.000000  2.000000  0.50  1.00  0.500000   6.00
17       Leyla F  1.000000  2.000000  1.00  0.00  1.000000   5.00
18       Mahla R  2.000000  2.000000  1.00  4.00  2.500000  11.50
19      Mammad A  2.000000  1.500000  1.00  0.00  3.500000   8.00
20     Mammad Gh  0.500000  0.000000  0.00  3.00  0.000000   3.50
21  Mammadreza B  2.000000  2.000000  1.00  1.50  0.000000   1.00
22       Milad S -1.000000  1.326531  2.00  3.00  0.000000   2.00
23        Mona A  1.000000  2.000000  2.00  0.00  1.000000   6.00
24     Nazanin R  0.500000  0.000000  1.00  0.00  0.000000   1.50
25       Oveys S  2.000000  2.000000  2.00  4.00  5.000000  15.00
26       Negin R  0.000000  0.000000  1.00  0.00  3.000000   4.00
27      Parisa A  0.000000  2.000000  1.00  1.00  0.000000   4.00
28      Pariya J  1.000000  2.000000  2.00  4.00  4.000000  13.00
29      Pedram k  0.000000  0.000000  1.00  0.00  1.000000   1.00
30        Reza B  1.500000  2.000000  1.00  1.50  2.500000  17.00
31        Reza R  0.000000  2.000000  1.00  1.50  4.000000   8.50
32        Roya S  2.000000  1.500000  1.00  1.00  3.000000   8.50
33        Reza T  0.500000  2.000000  2.50  4.00  1.500000  10.50
34        Saba S  2.000000  1.500000  1.25  1.00  2.000000   7.75
35       Sahar E  1.500000  0.750000  2.00  1.00  0.500000   5.75
36       Sahar Z  2.000000  2.000000  1.00  2.50  5.500000  13.00
37        Sama K  2.000000  1.500000  1.00  4.00  2.500000  11.00
38        Sina R  0.000000  1.000000  0.50  0.00  0.000000   1.50
39        Sina T  2.000000  2.000000  1.00  2.00  2.000000   9.00
40      Soheyl T  0.500000  2.000000  1.50  4.00  3.000000  11.00
41       Taher S  0.000000  0.000000  1.00  0.00  1.500000   2.50
42        Tara B  2.000000  1.500000  0.50  4.00  0.000000   1.00
43    Yasamin Gh  2.000000  1.500000  1.00  4.00  3.500000  12.00
44       Zahra B  2.000000  1.500000  1.00  2.00  4.500000  11.00
45       Zahra T  0.500000  2.000000  1.50  4.00  0.000000   8.00
46       Zahra Z  2.000000  2.000000  2.00  1.00  2.000000   9.00
47      Zeynab I  0.000000  1.250000  0.00  4.00  0.500000   5.75
48      Zeynab V  2.000000 -1.000000  0.50  4.00  1.000000   6.50

In [37]:
for col in numeric_columns:
    mean_value = df[col].mean()
    df.loc[outliers[col], col] = mean_value
print(f"Data after handling outliers:")
df

Data after handling outliers:

            Name       Q1        Q2    Q3    Q4        Q5  Total
0        Abbas H  1.00000  0.000000  0.00  0.50  0.000000   1.50
1          Ali A -2.00000  2.000000  2.50  1.00  3.000000   6.50
2         Ali Gh  1.00000  0.000000  0.50  0.00  2.000000   3.50
3          Ali K  2.00000  2.000000  1.00  0.00  4.000000   1.00
4          Ali P  0.00000  1.750000  1.00  1.00  0.500000   4.25
5      Amirali B  0.50000  0.000000  0.25  2.50  1.794252  11.25
6     Amirali Gh  0.00000  0.000000  1.00  0.00  0.000000   1.00
7      Amirali R  1.00000  1.500000  1.00  4.00  2.000000   9.50
8         Amir M  1.00000  3.000000  1.00  1.50  3.000000   9.50
9       Fateme P  2.00000  1.750000  1.00  0.00  0.000000   4.75
10      Farhan A  0.00000  1.000000  0.00  0.00  0.000000   1.00
11    Fereshte J  2.00000  2.000000  1.00  0.50  3.000000   8.50
12      Heliya G  1.03915  2.000000  1.00  0.00  4.000000   1.00
13       Hesam M  0.00000  2.000000  1.00  1.00  0.000000   4.00
14       Jafar H  2.00000  1.500000  0.00  0.00  0.000000   3.50
15       Javad R  2.00000  2.000000  1.00  3.75  3.500000  12.25
16       Kazem B  2.00000  2.000000  0.50  1.00  0.500000   6.00
17       Leyla F  1.00000  2.000000  1.00  0.00  1.000000   5.00
18       Mahla R  2.00000  2.000000  1.00  4.00  2.500000  11.50
19      Mammad A  2.00000  1.500000  1.00  0.00  3.500000   8.00
20     Mammad Gh  0.50000  0.000000  0.00  3.00  0.000000   3.50
21  Mammadreza B  2.00000  2.000000  1.00  1.50  0.000000   1.00
22       Milad S -1.00000  1.394419  2.00  3.00  0.000000   2.00
23        Mona A  1.00000  2.000000  2.00  0.00  1.000000   6.00
24     Nazanin R  0.50000  0.000000  1.00  0.00  0.000000   1.50
25       Oveys S  2.00000  2.000000  2.00  4.00  5.000000  15.00
26       Negin R  0.00000  0.000000  1.00  0.00  3.000000   4.00
27      Parisa A  0.00000  2.000000  1.00  1.00  0.000000   4.00
28      Pariya J  1.00000  2.000000  2.00  4.00  4.000000  13.00
29      Pedram k  0.00000  0.000000  1.00  0.00  1.000000   1.00
30        Reza B  1.50000  2.000000  1.00  1.50  2.500000  17.00
31        Reza R  0.00000  2.000000  1.00  1.50  4.000000   8.50
32        Roya S  2.00000  1.500000  1.00  1.00  3.000000   8.50
33        Reza T  0.50000  2.000000  2.50  4.00  1.500000  10.50
34        Saba S  2.00000  1.500000  1.25  1.00  2.000000   7.75
35       Sahar E  1.50000  0.750000  2.00  1.00  0.500000   5.75
36       Sahar Z  2.00000  2.000000  1.00  2.50  5.500000  13.00
37        Sama K  2.00000  1.500000  1.00  4.00  2.500000  11.00
38        Sina R  0.00000  1.000000  0.50  0.00  0.000000   1.50
39        Sina T  2.00000  2.000000  1.00  2.00  2.000000   9.00
40      Soheyl T  0.50000  2.000000  1.50  4.00  3.000000  11.00
41       Taher S  0.00000  0.000000  1.00  0.00  1.500000   2.50
42        Tara B  2.00000  1.500000  0.50  4.00  0.000000   1.00
43    Yasamin Gh  2.00000  1.500000  1.00  4.00  3.500000  12.00
44       Zahra B  2.00000  1.500000  1.00  2.00  4.500000  11.00
45       Zahra T  0.50000  2.000000  1.50  4.00  0.000000   8.00
46       Zahra Z  2.00000  2.000000  2.00  1.00  2.000000   9.00
47      Zeynab I  0.00000  1.250000  0.00  4.00  0.500000   5.75
48      Zeynab V  2.00000 -1.000000  0.50  4.00  1.000000   6.50

In [38]:
numeric_columns = df.columns[1:]
means = df[numeric_columns].mean()
std_devs = df[numeric_columns].std()
for col in numeric_columns:
    df[col] = (df[col] - means[col]) / std_devs[col]
print("Data after standardization:")
df

Data after standardization:

            Name        Q1        Q2        Q3        Q4        Q5     Total
0        Abbas H -0.042549 -1.635085 -1.709486 -0.741669 -1.112888 -1.190491
1          Ali A -3.109852  0.707772  2.396633 -0.429722  0.750497 -0.024975
2         Ali Gh -0.042549 -1.635085 -0.888263 -1.053616  0.129369 -0.724285
3          Ali K  0.979885  0.707772 -0.067039 -1.053616  1.371626 -1.307042
4          Ali P -1.064983  0.414915 -0.067039 -0.429722 -0.802324 -0.549457
5      Amirali B -0.553766 -1.635085 -1.298874  0.506118  0.001573  1.082264
6     Amirali Gh -1.064983 -1.635085 -0.067039 -1.053616 -1.112888 -1.307042
7      Amirali R -0.042549  0.122058 -0.067039  1.441957  0.129369  0.674334
8         Amir M -0.042549  1.879201 -0.067039 -0.117776  0.750497  0.674334
9       Fateme P  0.979885  0.414915 -0.067039 -1.053616 -1.112888 -0.432906
10      Farhan A -1.064983 -0.463657 -1.709486 -1.053616 -1.112888 -1.307042
11    Fereshte J  0.979885  0.707772 -0.067039 -0.741669  0.750497  0.441231
12      Heliya G -0.002520  0.707772 -0.067039 -1.053616  1.371626 -1.307042
13       Hesam M -1.064983  0.707772 -0.067039 -0.429722 -1.112888 -0.607733
14       Jafar H  0.979885  0.122058 -1.709486 -1.053616 -1.112888 -0.724285
15       Javad R  0.979885  0.707772 -0.067039  1.285984  1.061061  1.315368
16       Kazem B  0.979885  0.707772 -0.888263 -0.429722 -0.802324 -0.141527
17       Leyla F -0.042549  0.707772 -0.067039 -1.053616 -0.491759 -0.374630
18       Mahla R  0.979885  0.707772 -0.067039  1.441957  0.439933  1.140540
19      Mammad A  0.979885  0.122058 -0.067039 -1.053616  1.061061  0.324679
20     Mammad Gh -0.553766 -1.635085 -1.709486  0.818064 -1.112888 -0.724285
21  Mammadreza B  0.979885  0.707772 -0.067039 -0.117776 -1.112888 -1.307042
22       Milad S -2.087418 -0.001623  1.575409  0.818064 -1.112888 -1.073939
23        Mona A -0.042549  0.707772  1.575409 -1.053616 -0.491759 -0.141527
24     Nazanin R -0.553766 -1.635085 -0.067039 -1.053616 -1.112888 -1.190491
25       Oveys S  0.979885  0.707772  1.575409  1.441957  1.992754  1.956401
26       Negin R -1.064983 -1.635085 -0.067039 -1.053616  0.750497 -0.607733
27      Parisa A -1.064983  0.707772 -0.067039 -0.429722 -1.112888 -0.607733
28      Pariya J -0.042549  0.707772  1.575409  1.441957  1.371626  1.490195
29      Pedram k -1.064983 -1.635085 -0.067039 -1.053616 -0.491759 -1.307042
30        Reza B  0.468668  0.707772 -0.067039 -0.117776  0.439933  2.422607
31        Reza R -1.064983  0.707772 -0.067039 -0.117776  1.371626  0.441231
32        Roya S  0.979885  0.122058 -0.067039 -0.429722  0.750497  0.441231
33        Reza T -0.553766  0.707772  2.396633  1.441957 -0.181195  0.907437
34        Saba S  0.979885  0.122058  0.343573 -0.429722  0.129369  0.266404
35       Sahar E  0.468668 -0.756514  1.575409 -0.429722 -0.802324 -0.199803
36       Sahar Z  0.979885  0.707772 -0.067039  0.506118  2.303318  1.490195
37        Sama K  0.979885  0.122058 -0.067039  1.441957  0.439933  1.023989
38        Sina R -1.064983 -0.463657 -0.888263 -1.053616 -1.112888 -1.190491
39        Sina T  0.979885  0.707772 -0.067039  0.194171  0.129369  0.557782
40      Soheyl T -0.553766  0.707772  0.754185  1.441957  0.750497  1.023989
41       Taher S -1.064983 -1.635085 -0.067039 -1.053616 -0.181195 -0.957388
42        Tara B  0.979885  0.122058 -0.888263  1.441957 -1.112888 -1.307042
43    Yasamin Gh  0.979885  0.122058 -0.067039  1.441957  1.061061  1.257092
44       Zahra B  0.979885  0.122058 -0.067039  0.194171  1.682190  1.023989
45       Zahra T -0.553766  0.707772  0.754185  1.441957 -1.112888  0.324679
46       Zahra Z  0.979885  0.707772  1.575409 -0.429722  0.129369  0.557782
47      Zeynab I -1.064983 -0.170800 -1.709486  1.441957 -0.802324 -0.199803
48      Zeynab V  0.979885 -2.806514 -0.888263  1.441957 -0.491759 -0.024975

In [39]:
df.iloc[:,0]

0          Abbas H
1            Ali A
2           Ali Gh
3            Ali K
4            Ali P
5        Amirali B
6       Amirali Gh
7        Amirali R
8           Amir M
9         Fateme P
10        Farhan A
11      Fereshte J
12        Heliya G
13         Hesam M
14         Jafar H
15         Javad R
16         Kazem B
17         Leyla F
18         Mahla R
19        Mammad A
20       Mammad Gh
21    Mammadreza B
22         Milad S
23          Mona A
24       Nazanin R
25         Oveys S
26         Negin R
27        Parisa A
28        Pariya J
29        Pedram k
30          Reza B
31          Reza R
32          Roya S
33          Reza T
34          Saba S
35         Sahar E
36         Sahar Z
37          Sama K
38          Sina R
39          Sina T
40        Soheyl T
41         Taher S
42          Tara B
43      Yasamin Gh
44         Zahra B
45         Zahra T
46         Zahra Z
47        Zeynab I
48        Zeynab V
Name: Name, dtype: object

In [40]:
numeric_df = df.drop(columns=['Name'])
corr_matrix = numeric_df.corr().abs()
upper_triangle = np.triu(np.ones(corr_matrix.shape), k=1)
corr_values = corr_matrix.where(upper_triangle == 1)
features_removed = 0
while features_removed < 2:
    max_corr = corr_values.stack().idxmax()
    feature1, feature2 = max_corr
    label_corr = corr_matrix['Total'].abs()
    if label_corr[feature1] < label_corr[feature2]:
        numeric_df.drop(columns=[feature1], inplace=True)
    else:
        numeric_df.drop(columns=[feature2], inplace=True)
    corr_matrix = numeric_df.corr().abs()
    upper_triangle = np.triu(np.ones(corr_matrix.shape), k=1)
    corr_values = corr_matrix.where(upper_triangle == 1)
    features_removed += 1
    print("Removed Feature:", feature1 if label_corr[feature1] < label_corr[feature2] else feature2)
    print("Remaining Features:", numeric_df.columns)
df = pd.concat([df[['Name']], numeric_df], axis=1)
print("\nFinal DataFrame after removing two features:")
df

Removed Feature: Q5
Remaining Features: Index(['Q1', 'Q2', 'Q3', 'Q4', 'Total'], dtype='object')
Removed Feature: Q4
Remaining Features: Index(['Q1', 'Q2', 'Q3', 'Total'], dtype='object')

Final DataFrame after removing two features:

            Name        Q1        Q2        Q3     Total
0        Abbas H -0.042549 -1.635085 -1.709486 -1.190491
1          Ali A -3.109852  0.707772  2.396633 -0.024975
2         Ali Gh -0.042549 -1.635085 -0.888263 -0.724285
3          Ali K  0.979885  0.707772 -0.067039 -1.307042
4          Ali P -1.064983  0.414915 -0.067039 -0.549457
5      Amirali B -0.553766 -1.635085 -1.298874  1.082264
6     Amirali Gh -1.064983 -1.635085 -0.067039 -1.307042
7      Amirali R -0.042549  0.122058 -0.067039  0.674334
8         Amir M -0.042549  1.879201 -0.067039  0.674334
9       Fateme P  0.979885  0.414915 -0.067039 -0.432906
10      Farhan A -1.064983 -0.463657 -1.709486 -1.307042
11    Fereshte J  0.979885  0.707772 -0.067039  0.441231
12      Heliya G -0.002520  0.707772 -0.067039 -1.307042
13       Hesam M -1.064983  0.707772 -0.067039 -0.607733
14       Jafar H  0.979885  0.122058 -1.709486 -0.724285
15       Javad R  0.979885  0.707772 -0.067039  1.315368
16       Kazem B  0.979885  0.707772 -0.888263 -0.141527
17       Leyla F -0.042549  0.707772 -0.067039 -0.374630
18       Mahla R  0.979885  0.707772 -0.067039  1.140540
19      Mammad A  0.979885  0.122058 -0.067039  0.324679
20     Mammad Gh -0.553766 -1.635085 -1.709486 -0.724285
21  Mammadreza B  0.979885  0.707772 -0.067039 -1.307042
22       Milad S -2.087418 -0.001623  1.575409 -1.073939
23        Mona A -0.042549  0.707772  1.575409 -0.141527
24     Nazanin R -0.553766 -1.635085 -0.067039 -1.190491
25       Oveys S  0.979885  0.707772  1.575409  1.956401
26       Negin R -1.064983 -1.635085 -0.067039 -0.607733
27      Parisa A -1.064983  0.707772 -0.067039 -0.607733
28      Pariya J -0.042549  0.707772  1.575409  1.490195
29      Pedram k -1.064983 -1.635085 -0.067039 -1.307042
30        Reza B  0.468668  0.707772 -0.067039  2.422607
31        Reza R -1.064983  0.707772 -0.067039  0.441231
32        Roya S  0.979885  0.122058 -0.067039  0.441231
33        Reza T -0.553766  0.707772  2.396633  0.907437
34        Saba S  0.979885  0.122058  0.343573  0.266404
35       Sahar E  0.468668 -0.756514  1.575409 -0.199803
36       Sahar Z  0.979885  0.707772 -0.067039  1.490195
37        Sama K  0.979885  0.122058 -0.067039  1.023989
38        Sina R -1.064983 -0.463657 -0.888263 -1.190491
39        Sina T  0.979885  0.707772 -0.067039  0.557782
40      Soheyl T -0.553766  0.707772  0.754185  1.023989
41       Taher S -1.064983 -1.635085 -0.067039 -0.957388
42        Tara B  0.979885  0.122058 -0.888263 -1.307042
43    Yasamin Gh  0.979885  0.122058 -0.067039  1.257092
44       Zahra B  0.979885  0.122058 -0.067039  1.023989
45       Zahra T -0.553766  0.707772  0.754185  0.324679
46       Zahra Z  0.979885  0.707772  1.575409  0.557782
47      Zeynab I -1.064983 -0.170800 -1.709486 -0.199803
48      Zeynab V  0.979885 -2.806514 -0.888263 -0.024975